<script>
import { mapActions } from 'vuex';
import CustomerToolbar from './CustomerToolbar';

export default {
  name: 'Customers',
  components: {
    CustomerToolbar,
  },
  data() {
    return {
      customers: [],
      showEditCustomerDialog: false,
      customerListHeaders: [
        { text: 'Name', align: 'left', value: 'name' },
        { text: 'Address', align: 'left', value: 'address' },
        { text: 'Phone', align: 'left', value: 'phone', sortable: false },
        { text: 'e-mail', align: 'left', value: 'email', width: '400', sortable: false },
        { text: 'İşlemler', align: 'right', value: 'details', sortable: false },
      ],
      formData: {
        customer: {},
      },
      customerListIsLoading: false,
    };
  },
  mounted() {
    this.customerListIsLoading = true;

    this.fetchCustomers()
      .then((response) => {
        this.customers = response.data.data;
      })
      .catch(() => {
        console.log('Error fetching customer list');
        // I added a customer for testing in cases where the backend is not working
        this.customers = [
          {
            id: 1,
            name: 'Mert Adatepe',
            address: 'Sakarya',
            phone: "1234578901",
            email: "mertadatepe0@gmail.com",
            is_delete: 0,
          },
        ];
      })
      .finally(() => {
        this.customerListIsLoading = false;
      });
  },
  methods: {
    ...mapActions(['fetchCustomers', 'saveCustomer']),
    editCustomer() {
      this.saveCustomer(this.formData)
        .then(() => {
          alert("Customer successfully updated!");
        })
        .catch(() => {
          alert("An error occurred while updating the customer");
        })
        .finally(() => {
          this.showEditMaterialDialog = false;
        });
    },
  },
}
</script>

<template>
  <div>
    <CustomerToolbar />

    <v-progress-linear v-if="customerListIsLoading" value="15"></v-progress-linear>

    <v-data-table
      v-else
      :headers="customerListHeaders"
      :items="customers"
      :items-per-page="15"
      item-key="id"
      class="elevation-1"
    >
        <template v-slot:body="{ items }">
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.email }}</td>
            <td class="text-md-right">
              <v-dialog
                v-model="showEditCustomerDialog"
                width="1000"
                persistent
              >
                <template v-slot:activator="{ on }">
                  <v-btn outlined color="amber accent-4" @click="formData.customer = item" v-on="on">
                    <v-icon>edit</v-icon> Edit
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title
                    class="headline grey lighten-2"
                    primary-title
                  >
                    Edit Customer - {{ item.name }}
                  </v-card-title>

                  <v-card-text>
                    <v-layout row py-3>
                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.customer.name"
                          label="Name"
                          outlined
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.customer.address"
                          label="Address"
                          outlined
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.customer.phone"
                          label="Phone"
                          outlined
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.customer.email"
                          label="E-Mail"
                          outlined
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-btn
                      color="red"
                      text
                      @click="showEditCustomerDialog = false"
                    >
                      Cancel
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="success"
                      text
                      @click="editCustomer"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
  </div>
</template>
