<script>
import { mapActions } from 'vuex';

export default {
  name: 'CustomerToolbar',
  data() {
    return {
      showCustomerDialog: false,
      formData: {
        customer: {},
      },
    };
  },
  methods: {
    ...mapActions(['saveCustomer']),
    submit() {
      // backend wants us to submit the "is_delete" field when creating a new customer
      this.formData.customer.is_delete = 0;

      this.saveCustomer(this.formData)
        .then(() => {
          alert("Customer successfully updated!")
        })
        .catch(() => {
          alert("Something went wrong in new customer dialog!")
        })
        .finally(() => {
          this.formData.customer = {};
          this.showCustomerDialog = false;
        });
    },
  },
}
</script>

<template>
  <v-toolbar dense>
    <v-spacer></v-spacer>

    <v-dialog
      v-model="showCustomerDialog"
      width="1000"
      persistent
    >
      <template v-slot:activator="{ on }">
        <v-btn
          color="success"
          dark
          tile
          v-on="on"
        >
          Add Customer
           <v-icon>add</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Add New Customer
        </v-card-title>

        <v-card-text>
          <v-layout row py-3>
            <v-flex xs6 px-2>
              <v-text-field
                v-model="formData.customer.name"
                label="Name"
                outlined
              ></v-text-field>
            </v-flex>

            <v-flex xs6 px-2>
              <v-text-field
                v-model="formData.customer.address"
                label="Address"
                outlined
              ></v-text-field>
            </v-flex>

            <v-flex xs6 px-2>
              <v-text-field
                v-model="formData.customer.phone"
                label="Phone"
                outlined
              ></v-text-field>
            </v-flex>

            <v-flex xs6 px-2>
              <v-text-field
                v-model="formData.customer.email"
                label="E-Mail"
                outlined
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            color="red"
            text
            @click="showCustomerDialog = false"
          >
            İptal
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            text
            @click="submit"
          >
            Kaydet
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-toolbar>
</template>