<script>
import { mapActions } from 'vuex';
import MaterialToolbar from './MaterialToolbar';

export default {
  name: 'Materials',
  components: {
    MaterialToolbar,
  },
  data() {
    return {
      materials: [],
      materialListHeaders: [
        { text: 'Image', align: 'left', value: 'image' },
        { text: 'SKU', align: 'left', value: 'sku' },
        { text: 'Name', align: 'left', value: 'name' },
        { text: 'Brand', align: 'left', value: 'brand', sortable: false },
        { text: 'Description', align: 'left', value: 'description', width: '400' },
        { text: 'Price', align: 'right', value: 'price', sortable: false },
        { text: 'VatKey', align: 'right', value: 'vatRate', sortable: false },
        { text: '', align: 'right', value: 'details', sortable: false },
      ],
      showEditMaterialDialog: false,
      formData: {
        material: {},
      },
      materialListIsLoading: false,
    };
  },
  mounted() {
    this.fetchMaterials()
      .then((response) => {
        this.materials = response.data.data;
      })
      .catch(() => {
        console.log('Error fetching material list!');
        // I added a material for testing in cases where the backend is not working
        this.materials = [
          {
            id: 1,
            sku: '12345',
            name: 'test article',
            brand: 'Nike',
            description: 'test description',
            price: 12.30,
            vatRate: 9,
            image: '',
          },
        ];
      });
  },
  methods: {
    ...mapActions(['fetchMaterials', 'saveMaterial']),
    editMaterial() {
      this.saveMaterial(this.formData)
        .then(() => {
          alert("Material successfully updated!");
        })
        .catch(() => {
          alert("An error occurred while updating the material");
        })
        .finally(() => {
          this.showEditMaterialDialog = false;
        });
    },
  },
}
</script>

<template>
  <div>
    <MaterialToolbar />

    <v-progress-linear v-if="materialListIsLoading" value="15"></v-progress-linear>

    <v-data-table
      v-else
      :headers="materialListHeaders"
      :items="materials"
      :items-per-page="15"
      item-key="id"
      class="elevation-1"
    >
      <template v-slot:body="{ items }">
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <td>
              <v-tooltip bottom v-if="item.image === ''">
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on">image</v-icon>
                </template>
                <span>Material has no image</span>
              </v-tooltip>

              <span v-else>
                <img :src="item.image" style="width: 30px; height: 30px;" />
              </span>
            </td>
            <td>{{ item.sku }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.brand }}</td>
            <td v-html="item.description">
            </td>
            <td class="text-md-right">
              {{ item.price }}
            </td>
            <td  class="text-md-right">
              {{ item.vatRate }}
            </td>
            <td class="text-md-right">
              <v-dialog
                v-model="showEditMaterialDialog"
                width="1000"
                persistent
              >
                <template v-slot:activator="{ on }">
                  <v-btn outlined color="amber accent-4" @click="formData.material = item" v-on="on">
                    <v-icon>edit</v-icon> Edit
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title
                    class="headline grey lighten-2"
                    primary-title
                  >
                    Edit Material - {{ item.name }}
                  </v-card-title>

                  <v-card-text>
                    <v-layout row py-3>
                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.material.sku"
                          label="SKU"
                          outlined
                        ></v-text-field>
                      </v-flex>
                      
                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.material.name"
                          label="Name"
                          outlined
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.material.brand"
                          label="Brand"
                          outlined
                        ></v-text-field>
                      </v-flex>
                      
                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.material.description"
                          label="Description"
                          outlined
                        ></v-text-field>
                      </v-flex>
                      
                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.material.image"
                          label="Image URL"
                          outlined
                        ></v-text-field>
                      </v-flex>
                      
                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.material.price"
                          label="Price"
                          outlined
                        ></v-text-field>
                      </v-flex>
                      
                      <v-flex xs6 px-2>
                        <v-text-field
                          v-model="formData.material.vatRate"
                          label="VatKey"
                          outlined
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-btn
                      color="red"
                      text
                      @click="showEditMaterialDialog = false"
                    >
                      Cancel
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="success"
                      text
                      @click="editMaterial"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
  </div>
</template>
