<script>
import { mapActions } from 'vuex';

export default {
  name: 'MaterialToolbar',
  data() {
    return {
      showMaterialDialog: false,
      formData: {
        material: {},
      },
    };
  },
  methods: {
    ...mapActions(['saveMaterial']),
    submit() {
      this.saveMaterial(this.formData)
        .then(() => {
          alert("Material successfully updated!")
        })
        .catch(() => {
          alert("Something went wrong in new material dialog!")
        })
        .finally(() => {
          this.formData.material = {};
          this.showMaterialDialog = false;
        });
    },
  },
}
</script>

<template>
  <v-toolbar dense>
    <v-spacer></v-spacer>

    <v-dialog
      v-model="showMaterialDialog"
      width="1000"
      persistent
    >
      <template v-slot:activator="{ on }">
        <v-btn
          color="success"
          dark
          tile
          v-on="on"
        >
          Add Material
           <v-icon>add</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Add New Material
        </v-card-title>

        <v-card-text>
          <v-layout row py-3>
            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.material.sku"
                label="SKU"
                outlined
              ></v-text-field>
            </v-flex>
            
            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.material.name"
                label="İsim"
                outlined
              ></v-text-field>
            </v-flex>

            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.material.brand"
                label="Marka"
                outlined
              ></v-text-field>
            </v-flex>
            
            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.material.description"
                label="Açıklama"
                outlined
              ></v-text-field>
            </v-flex>
            
            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.material.image"
                label="Resim URL"
                outlined
              ></v-text-field>
            </v-flex>
            
            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.material.price"
                label="Fiyat"
                outlined
              ></v-text-field>
            </v-flex>
            
            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.material.vatRate"
                label="KDV"
                outlined
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            color="red"
            text
            @click="showMaterialDialog = false"
          >
            İptal
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="success"
            text
            @click="submit"
          >
            Kaydet
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-toolbar>
</template>