<script>
import { mapActions } from 'vuex';

export default {
  name: 'SalesHeadDetailDialog',
  props: {
    selectedSalesHeadId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      visible: false,
      dialogIsLoading: false,
      dialogIsSaving: false,
      formData: {
        salesHead: {},
      },
    };
  },
  mounted() {
    this.visible = true;
    this.dialogIsLoading = true;

    this.fetchSalesHeadById(this.selectedSalesHeadId)
      .then((response) => {
        this.formData.salesHead = response.salesHead;
      })
      .catch(() => {
        console.log("Something went wrong in salesHead dialog");

        // I added a salesHead for testing in cases where the backend is not working
        this.formData.salesHead = {
          id: 1,
          docTypeName: "Sipariş",
          docNumber: 'SS-1001',
          customerName: 'Mert Adatepe',
          totalPrice: 20,
          totalGrossPrice: 23.6,
          shippingCost: 3.56,
          isPaid: 1,
          isDelete: 0,
          salesItems: [
            {
              id: 1,
              sku: 12345,
              name: 'test article',
              brand: 'Nike',
              description: 'test description',
              price: 12.30,
              vatRate: 9,
              image: '',
            },
            {
              id: 2,
              sku: 'KL-123',
              name: 'test article2',
              brand: 'brand2',
              description: 'test description2',
              price: 25.19,
              vatRate: 9,
              image: '',
            },
          ],
        };
      })
      .finally(() => {
        this.dialogIsLoading = false;
      })
  },
  methods: {
    ...mapActions(['fetchSalesHeadById', 'saveSalesHead']),
    close() {
      this.$emit('cancel');
    },
    submit() {
      this.dialogIsSaving = true;

      this.saveSalesHead(this.formData)
        .then(() => {
          alert("Saved successfully");
          this.close();
        })
        .catch(() => {
          alert("Something went wrong for save salesHead");
        })
        .finally(() => {
          this.dialogIsSaving = false;
        });
    },
  },
}
</script>

<template>
  <div>
    <v-dialog
      v-model="visible"
      max-width="1200"
      persistent
    >
      <v-progress-linear v-if="dialogIsLoading" value="15"></v-progress-linear>

      <v-card v-else>
        <v-card-title class="headline">
          {{ formData.salesHead.docNumber }} | {{ formData.salesHead.docTypeName }}
        </v-card-title>

        <v-card-text>
          <v-layout row wrap pa-4>
            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.salesHead.docNumber"
                label="DocNumber"
                disabled
                outlined
              ></v-text-field>
            </v-flex>
          
            <v-flex xs6 px-2>
               <v-text-field
                v-model="formData.salesHead.docTypeName"
                label="DocType"
                disabled
                outlined
              ></v-text-field>
            </v-flex>

            <v-flex xs3 px-2>
               <v-text-field
                v-model="formData.salesHead.totalPrice"
                label="Total Price"
                outlined
              ></v-text-field>
            </v-flex>

            <v-flex xs3 px-2>
               <v-text-field
                v-model="formData.salesHead.totalGrossPrice"
                label="Total Gross Price"
                outlined
              ></v-text-field>
            </v-flex>

            <v-flex xs3 px-2>
               <v-text-field
                v-model="formData.salesHead.shippingCost"
                label="Shipping Cost"
                outlined
              ></v-text-field>
            </v-flex>

            <v-flex xs3 px-2>
               <v-switch
                v-model="formData.salesHead.isPaid"
                label="is Paid?">
              </v-switch>
            </v-flex>
          </v-layout>

          <v-layout row wrap pa-4>
            <v-flex xs12 text-md-center py-4>
              <h2>Sales Items</h2>
              <hr>
            </v-flex>

            <v-flex xs12 py-2>
              <v-data-table
                hide-default-header
                :items="formData.salesHead.salesItems"
                :items-per-page="5"
                item-key="id"
                class="elevation-1"
              >
                <template v-slot:body="{ items }">
                  <tbody>
                    <tr v-for="(item, index) in items" :key="index">
                      <td>
                        <img :src="item.image" style="width: 30px; height: 30px;" />
                      </td>
                      <td>{{ item.sku }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.brand }}</td>
                      <td v-html="item.description">
                      </td>
                      <td class="text-md-right">
                        {{ item.price }}
                      </td>
                      <td  class="text-md-right">
                        {{ item.vatRate }}
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="red"
            text
            @click="close"
          >
            Cancel
          </v-btn>

          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            :loading="dialogIsSaving"
            @click="submit"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>