<script>
import { mapActions } from 'vuex';
import SalesHeadDetailDialog from './SalesHeadDetailDialog';

export default {
  name: 'SalesHeads',
  components: {
    SalesHeadDetailDialog,
  },
  props: {
    docTypes: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      salesHeads: [],
      salesHeadListHeaders: [
        { text: 'DocType', align: 'left', value: 'docTypeName' },
        { text: 'DocNumber', align: 'left', value: 'docNumber' },
        { text: 'Customer', align: 'left', value: 'customerName' },
        { text: 'Total Price', align: 'right', value: 'totalPrice' },
        { text: 'Total Gross Price', align: 'right', value: 'totalGrossPrice' },
        { text: 'Shipping Cost', align: 'right', value: 'shippingCost' },
        { text: 'Is Paid?', align: 'center', value: 'isPaid' },
        { text: '', align: 'center', value: 'details' },
      ],
      showEditSalesHeadDialog: false,
      formData: {
        salesHead: {
          salesItems: [],
        },
      },
      salesHeadListIsLoading: false,
      salesHeadDetailDialog: {
        visible: false,
        selectedSalesHeadId: null,
      },
    };
  },
  mounted() {
    this.fetchSalesHeads()
      .then((response) => {
        this.salesHeads = response.data.data;
      })
      .catch(() => {
        console.log('Error fetching salesHead list!');
        // I added a salesHead for testing in cases where the backend is not working
        this.salesHeads = [
          {
            id: 1,
            docTypeName: "Sipariş",
            docNumber: 'SS-1001',
            customerName: 'Mert Adatepe',
            totalPrice: 20,
            totalGrossPrice: 23.6,
            shippingCost: 3.56,
            isPaid: 1,
            isDelete: 0,
          },
        ];
      });
  },
  methods: {
    ...mapActions(['fetchSalesHeads', 'saveSalesHead']),
    generateIsPaidIcon(salesHeadIsPaid) {
      let iconName = 'check';
      let iconColor = 'green';

      if (!salesHeadIsPaid) {
        iconName = 'block';
        iconColor = 'red';
      }

      return { iconName, iconColor };
    },
    openSalesHeadDetailDialog(salesHeadId) {
      this.salesHeadDetailDialog.selectedSalesHeadId = salesHeadId;
      this.salesHeadDetailDialog.visible = true;
    },
  },
}
</script>

<template>
  <div>
    <v-progress-linear v-if="salesHeadListIsLoading" value="15"></v-progress-linear>

    <v-data-table
      v-else
      :headers="salesHeadListHeaders"
      :items="salesHeads"
      :items-per-page="15"
      item-key="id"
      class="elevation-1"
    >
        <template v-slot:body="{ items }">
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <td>{{ item.docTypeName }}</td>
            <td>{{ item.docNumber }}</td>
            <td>{{ item.customerName }}</td>
            <td class="text-md-right">
              {{ item.totalPrice }}
            </td>
            <td class="text-md-right">
              {{ item.totalGrossPrice }}
            </td>
            <td class="text-md-right">
              {{ item.shippingCost }}
            </td>
            <td class="text-md-center">
              <v-icon :color="generateIsPaidIcon(item.isPaid).iconColor">
                {{ generateIsPaidIcon(item.isPaid).iconName }}
              </v-icon>
            </td>
            <td class="text-md-right">
              <v-btn @click="openSalesHeadDetailDialog(item.id)"
                     outlined
                     color="amber accent-4">
                <v-icon>edit</v-icon> Detail & Edit
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-data-table>

    <SalesHeadDetailDialog
      v-if="salesHeadDetailDialog.visible"
      :selectedSalesHeadId="salesHeadDetailDialog.selectedSalesHeadId"
      @cancel="salesHeadDetailDialog.visible = false"
    />
    
  </div>
</template>
