<script>
import { mapActions, mapGetters } from 'vuex';
import Materials from './components/Materials';
import Customers from './components/Customers';
import SalesHeads from './components/SalesHeads';

// eslint-disable

export default {
  name: 'App',
  components: {
    Materials,
    Customers,
    SalesHeads,
  },
  data: () => ({
    activeComponent: 'Materials',
  }),
  computed: {
    ...mapGetters(['getDocTypes']),
    menuTitle() {
      let title = 'Materials';

      if (this.activeComponent === 'Customers') {
        title = 'Customers';
      } else if (this.activeComponent === 'SalesHeads') {
        title = 'Sales Heads';
      }

      return title;
    },
  },
  mounted() {
    this.fetchDocTypes();
  },
  methods: {
    ...mapActions(['fetchDocTypes']),
    changeComponent(value) {
      this.activeComponent = value;
    },
  },
};
</script>

<template>
  <v-app>
    <v-app-bar
      app
      color="amber accent-4"
      dark
    >
      <h1>Order Application</h1>
    </v-app-bar>

    <v-content>
      <v-layout py-3 justify-center>
        <v-flex md10>
          <v-layout row>
            <v-flex md12>
              <v-toolbar>
                <v-toolbar-title> <h3>{{ menuTitle }}</h3> </v-toolbar-title>

                <v-spacer></v-spacer>

                <v-toolbar-items>
                  <v-btn @click="changeComponent('Materials')" text>
                    Materials
                  </v-btn>

                  <v-btn @click="changeComponent('Customers')" text>
                    Customers
                  </v-btn>

                  <v-btn @click="changeComponent('SalesHeads')" text>
                    Orders
                  </v-btn>
                </v-toolbar-items>
              </v-toolbar>
            </v-flex>

            <v-flex md12>
              <Materials
                v-if="activeComponent === 'Materials'"
              />

              <Customers
                v-if="activeComponent === 'Customers'"
              />

              <SalesHeads
                v-if="activeComponent === 'SalesHeads'"
                :docTypes="getDocTypes"
              />
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-content>
  </v-app>
</template>
